<h1>Welcome home</h1>
<p>Below our artists suggestions</p>

<h3>Search Music</h3>
<div class="search-container">
  <form id="search-form" action="/musics/search" method="get">
    <div class="search-bar">
      <input type="text" name="query" placeholder="Search...">
      <button type="submit" class="btn-search"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
  </form>
</div>


<h1>!!! Test sans API !!!</h1>

    <% @shazam_service = ShazamService.new  %>
    <% @music = @shazam_service.display_song('20066955') %>
  <div class="card">
    <div class="music-item">
      <h3><%= @music['title'] %></h3>
      <p>Artist: <%= @music['subtitle'] %></p>
      <p>Genre: <%= @music['genres']['primary'] %></p>
      <p>Release Year: <%= @music['sections'][0]['metadata'][2]['text'] %></p>

      <!-- Display artwork -->
      <img src="<%= @music['images']['coverart'] %>" alt="Album Cover" width="100">

      <!-- Link to Shazam -->
      <a href="<%= @music['url'] %>"
        target="_blank">Listen on Shazam</a>

      <!-- Link to YouTube -->
      <% if @music['sections'][1]['youtubeurl'] != nil %>
        <a href=<%= @music['sections'][1]['youtubeurl']['actions'][0]['uri']%>
          target="_blank">Watch video on YouTube</a>
      <% else %>
        <p>We did not find YouTube link unfortunately</p>
      <% end %>
    </div>
    <div>
        <%# <button class="btn btn-primary" onclick="playSong()">Listen song</button> %>
        <i class="fa-solid fa-play" onclick="playSong()"></i>
        <script>
            function playSong() {
                var audio = new Audio("<%= @music['hub']['actions'][1]['uri'] %>");
                audio.play();
            }
        </script>
    </div>

    <%# Artist id %>
    <% @music['artists'][0]['adamid'] %>
    <%# Album id %>
    <% @music['albumadamid'] %>
    <%# Track Shazam id %>
    <% @music['key'] %></p>
  </div>
